In [13]:
import pandas as pd
import os

In [9]:
df = pd.read_csv('data/2018_Central_Park_Squirrel_Data.csv') # Relative path

In [11]:
 # df = pd.read_csv('/Users/boychinov/Git/eurotech_ds/data/2018_Central_Park_Squirrel_Data.csv') # Absolute path

In [ ]:
# For Windows Users
# df_squirrel = pd.read_csv("C:/Users/NG/Documents/git/pandas_matplotlib/data/2018_Central_Park_Squirrel_Data.csv")
# df_squirrel = pd.read_csv("C:\\Users\\NG\\Documents\\git\\pandas_matplotlib\\data\\2018_Central_Park_Squirrel_Data.csv")
# df_squirrel = pd.read_csv(r"C:\Users\NG\Documents\git\pandas_matplotlib\data\2018_Central_Park_Squirrel_Data.csv")

In [15]:
cwd = os.getcwd()

In [17]:
cwd

'/Users/boychinov/Git/eurotech_ds'

In [19]:
file_path = os.path.join(cwd, 'data', '2018_Central_Park_Squirrel_Data.csv')

In [21]:
file_path

'/Users/boychinov/Git/eurotech_ds/data/2018_Central_Park_Squirrel_Data.csv'

In [27]:
df1 = pd.read_csv('data/people_info.csv', sep='\t')

In [29]:
df1.head()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [31]:
df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [33]:
df.columns

Index(['X', 'Y', 'Unique Squirrel ID', 'Hectare', 'Shift', 'Date',
       'Hectare Squirrel Number', 'Age', 'Primary Fur Color',
       'Highlight Fur Color', 'Combination of Primary and Highlight Color',
       'Color notes', 'Location', 'Above Ground Sighter Measurement',
       'Specific Location', 'Running', 'Chasing', 'Climbing', 'Eating',
       'Foraging', 'Other Activities', 'Kuks', 'Quaas', 'Moans', 'Tail flags',
       'Tail twitches', 'Approaches', 'Indifferent', 'Runs from',
       'Other Interactions', 'Lat/Long'],
      dtype='object')

In [35]:
type(df.columns)

pandas.core.indexes.base.Index

In [43]:
upper=[]
for i in list(df.columns):
    upper.append(i.upper())

In [45]:
upper

['X',
 'Y',
 'UNIQUE SQUIRREL ID',
 'HECTARE',
 'SHIFT',
 'DATE',
 'HECTARE SQUIRREL NUMBER',
 'AGE',
 'PRIMARY FUR COLOR',
 'HIGHLIGHT FUR COLOR',
 'COMBINATION OF PRIMARY AND HIGHLIGHT COLOR',
 'COLOR NOTES',
 'LOCATION',
 'ABOVE GROUND SIGHTER MEASUREMENT',
 'SPECIFIC LOCATION',
 'RUNNING',
 'CHASING',
 'CLIMBING',
 'EATING',
 'FORAGING',
 'OTHER ACTIVITIES',
 'KUKS',
 'QUAAS',
 'MOANS',
 'TAIL FLAGS',
 'TAIL TWITCHES',
 'APPROACHES',
 'INDIFFERENT',
 'RUNS FROM',
 'OTHER INTERACTIONS',
 'LAT/LONG']

In [47]:
df.columns.str.upper()

Index(['X', 'Y', 'UNIQUE SQUIRREL ID', 'HECTARE', 'SHIFT', 'DATE',
       'HECTARE SQUIRREL NUMBER', 'AGE', 'PRIMARY FUR COLOR',
       'HIGHLIGHT FUR COLOR', 'COMBINATION OF PRIMARY AND HIGHLIGHT COLOR',
       'COLOR NOTES', 'LOCATION', 'ABOVE GROUND SIGHTER MEASUREMENT',
       'SPECIFIC LOCATION', 'RUNNING', 'CHASING', 'CLIMBING', 'EATING',
       'FORAGING', 'OTHER ACTIVITIES', 'KUKS', 'QUAAS', 'MOANS', 'TAIL FLAGS',
       'TAIL TWITCHES', 'APPROACHES', 'INDIFFERENT', 'RUNS FROM',
       'OTHER INTERACTIONS', 'LAT/LONG'],
      dtype='object')

In [54]:
upper = [i.upper() for i in list(df.columns)]

In [56]:
upper

['X',
 'Y',
 'UNIQUE SQUIRREL ID',
 'HECTARE',
 'SHIFT',
 'DATE',
 'HECTARE SQUIRREL NUMBER',
 'AGE',
 'PRIMARY FUR COLOR',
 'HIGHLIGHT FUR COLOR',
 'COMBINATION OF PRIMARY AND HIGHLIGHT COLOR',
 'COLOR NOTES',
 'LOCATION',
 'ABOVE GROUND SIGHTER MEASUREMENT',
 'SPECIFIC LOCATION',
 'RUNNING',
 'CHASING',
 'CLIMBING',
 'EATING',
 'FORAGING',
 'OTHER ACTIVITIES',
 'KUKS',
 'QUAAS',
 'MOANS',
 'TAIL FLAGS',
 'TAIL TWITCHES',
 'APPROACHES',
 'INDIFFERENT',
 'RUNS FROM',
 'OTHER INTERACTIONS',
 'LAT/LONG']

In [74]:
a = map(str.upper, df.columns)

In [76]:
list(a)

['X',
 'Y',
 'UNIQUE SQUIRREL ID',
 'HECTARE',
 'SHIFT',
 'DATE',
 'HECTARE SQUIRREL NUMBER',
 'AGE',
 'PRIMARY FUR COLOR',
 'HIGHLIGHT FUR COLOR',
 'COMBINATION OF PRIMARY AND HIGHLIGHT COLOR',
 'COLOR NOTES',
 'LOCATION',
 'ABOVE GROUND SIGHTER MEASUREMENT',
 'SPECIFIC LOCATION',
 'RUNNING',
 'CHASING',
 'CLIMBING',
 'EATING',
 'FORAGING',
 'OTHER ACTIVITIES',
 'KUKS',
 'QUAAS',
 'MOANS',
 'TAIL FLAGS',
 'TAIL TWITCHES',
 'APPROACHES',
 'INDIFFERENT',
 'RUNS FROM',
 'OTHER INTERACTIONS',
 'LAT/LONG']

In [78]:
df.columns = upper

In [80]:
df.head()

,X,Y,UNIQUE SQUIRREL ID,HECTARE,SHIFT,DATE,HECTARE SQUIRREL NUMBER,AGE,PRIMARY FUR COLOR,HIGHLIGHT FUR COLOR,...,KUKS,QUAAS,MOANS,TAIL FLAGS,TAIL TWITCHES,APPROACHES,INDIFFERENT,RUNS FROM,OTHER INTERACTIONS,LAT/LONG
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [88]:
df['HECTARE'].str.replace('N', 'F')

0       37F
1       37E
2       02E
3       05D
4       39B
       ...
3018    30B
3019    19A
3020    22D
3021    29B
3022    05E
Name: HECTARE, Length: 3023, dtype: object

In [90]:
df.columns.upper()

AttributeError: 'Index' object has no attribute 'upper'

In [94]:
df.loc[2, ['X', 'Y']]

X   -73.976831
Y    40.766718
Name: 2, dtype: object

In [96]:
df.iloc[2, [0, 1]]

X   -73.976831
Y    40.766718
Name: 2, dtype: object

In [98]:
df.head()

,X,Y,UNIQUE SQUIRREL ID,HECTARE,SHIFT,DATE,HECTARE SQUIRREL NUMBER,AGE,PRIMARY FUR COLOR,HIGHLIGHT FUR COLOR,...,KUKS,QUAAS,MOANS,TAIL FLAGS,TAIL TWITCHES,APPROACHES,INDIFFERENT,RUNS FROM,OTHER INTERACTIONS,LAT/LONG
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [100]:
df.set_index('UNIQUE SQUIRREL ID', inplace=True)

In [102]:
df.head()

,X,Y,HECTARE,SHIFT,DATE,HECTARE SQUIRREL NUMBER,AGE,PRIMARY FUR COLOR,HIGHLIGHT FUR COLOR,COMBINATION OF PRIMARY AND HIGHLIGHT COLOR,...,KUKS,QUAAS,MOANS,TAIL FLAGS,TAIL TWITCHES,APPROACHES,INDIFFERENT,RUNS FROM,OTHER INTERACTIONS,LAT/LONG
UNIQUE SQUIRREL ID,,,,,,,,,,,,,,,,,,,,,
37F-PM-1014-03,-73.956134,40.794082,37F,PM,10142018,3,NaN,NaN,NaN,+,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
37E-PM-1006-03,-73.957044,40.794851,37E,PM,10062018,3,Adult,Gray,Cinnamon,Gray+Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2E-AM-1010-03,-73.976831,40.766718,02E,AM,10102018,3,Adult,Cinnamon,NaN,Cinnamon+,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
5D-PM-1018-05,-73.975725,40.769703,05D,PM,10182018,5,Juvenile,Gray,NaN,Gray+,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
39B-AM-1018-01,-73.959313,40.797533,39B,AM,10182018,1,NaN,NaN,NaN,+,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [140]:
df.iloc[2:3, 0:2]

  UNIQUE SQUIRREL ID          X
2      2E-AM-1010-03 -73.976831

In [108]:
df.loc['2E-AM-1010-03', ['X', 'Y']]

X   -73.976831
Y    40.766718
Name: 2E-AM-1010-03, dtype: object

In [106]:
df.iloc[2, [0, 1]]

X   -73.976831
Y    40.766718
Name: 2E-AM-1010-03, dtype: object

In [114]:
df.reset_index(inplace=True)

In [116]:
df.head()

,UNIQUE SQUIRREL ID,X,Y,HECTARE,SHIFT,DATE,HECTARE SQUIRREL NUMBER,AGE,PRIMARY FUR COLOR,HIGHLIGHT FUR COLOR,...,KUKS,QUAAS,MOANS,TAIL FLAGS,TAIL TWITCHES,APPROACHES,INDIFFERENT,RUNS FROM,OTHER INTERACTIONS,LAT/LONG
0,37F-PM-1014-03,-73.956134,40.794082,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,37E-PM-1006-03,-73.957044,40.794851,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,2E-AM-1010-03,-73.976831,40.766718,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,5D-PM-1018-05,-73.975725,40.769703,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,39B-AM-1018-01,-73.959313,40.797533,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [122]:
df.shape[0] == df['UNIQUE SQUIRREL ID'].nunique()

False

In [124]:
df['UNIQUE SQUIRREL ID'].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3018    False
3019    False
3020    False
3021    False
3022    False
Name: UNIQUE SQUIRREL ID, Length: 3023, dtype: bool

In [ ]:
df[df['Age'] > 30]

In [136]:
df[df['UNIQUE SQUIRREL ID'].duplicated(keep=False)].sort_values('UNIQUE SQUIRREL ID')

,UNIQUE SQUIRREL ID,X,Y,HECTARE,SHIFT,DATE,HECTARE SQUIRREL NUMBER,AGE,PRIMARY FUR COLOR,HIGHLIGHT FUR COLOR,...,KUKS,QUAAS,MOANS,TAIL FLAGS,TAIL TWITCHES,APPROACHES,INDIFFERENT,RUNS FROM,OTHER INTERACTIONS,LAT/LONG
2532,1F-AM-1010-04,-73.976620,40.766191,01F,AM,10102018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9766195697096 40.7661907261547)
2613,1F-AM-1010-04,-73.976588,40.766095,01F,AM,10102018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9765877920583 40.7660946071574)
1,37E-PM-1006-03,-73.957044,40.794851,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2271,37E-PM-1006-03,-73.956967,40.794879,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9569670900695 40.794879285681304)
1539,40B-AM-1019-06,-73.957711,40.798406,40B,AM,10192018,6,Juvenile,Gray,White,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.957710975899 40.7984055614047)
2167,40B-AM-1019-06,-73.958236,40.798775,40B,AM,10192018,6,Juvenile,Gray,White,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9582363437135 40.7987752300505)
2106,4C-PM-1010-05,-73.977262,40.769282,04C,PM,10102018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9772624834791 40.7692821918543)
2888,4C-PM-1010-05,-73.977165,40.769305,04C,PM,10102018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9771646835311 40.7693049165084)
519,7D-PM-1010-01,-73.974945,40.772066,07D,PM,10102018,1,Adult,Gray,White,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9749446629706 40.7720659696067)
2234,7D-PM-1010-01,-73.974852,40.771959,07D,PM,10102018,1,Adult,Gray,White,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9748522796455 40.7719586621003)

In [132]:
df['X'].astype(str) + '_' + df['Y'].astype(str)

0       -73.9561344937861_40.7940823884086
1       -73.9570437717691_40.7948509408039
2       -73.9768311751004_40.7667178072558
3       -73.9757249834141_40.7697032606755
4        -73.9593126695714_40.797533370163
                       ...
3018    -73.9639431360458_40.7908677445466
3019    -73.9704015859639_40.7825600069973
3020    -73.9665871993517_40.7836775064883
3021    -73.9639941227864_40.7899152327912
3022    -73.9754794191553_40.7696404489025
Length: 3023, dtype: object

In [138]:
df.is

UNIQUE SQUIRREL ID                               0
X                                                0
Y                                                0
HECTARE                                          0
SHIFT                                            0
DATE                                             0
HECTARE SQUIRREL NUMBER                          0
AGE                                            121
PRIMARY FUR COLOR                               55
HIGHLIGHT FUR COLOR                           1086
COMBINATION OF PRIMARY AND HIGHLIGHT COLOR       0
COLOR NOTES                                   2841
LOCATION                                        64
ABOVE GROUND SIGHTER MEASUREMENT               114
SPECIFIC LOCATION                             2547
RUNNING                                          0
CHASING                                          0
CLIMBING                                         0
EATING                                           0
FORAGING                                         0
OTHER ACTIVITIES                              2586
KUKS                                             0
QUAAS                                            0
MOANS                                            0
TAIL FLAGS                                       0
TAIL TWITCHES                                    0
APPROACHES                                       0
INDIFFERENT                                      0
RUNS FROM                                        0
OTHER INTERACTIONS                            2783
LAT/LONG                                         0
dtype: int64